body {
    font: normal 100% sans-serif;
    margin: 1rem;
}

.FenetreModale {
    /*     visibility: hidden; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: whitesmoke;
    opacity:0.9;
}

/*.FenetreModale div*/
.FenetreModale-dialog {
    max-width: 60%; /* 300px; */
    max-height: 40%; /*300px; */
    margin: 5% auto;
    background-color: white;
    border:1px solid #000;
    padding:1%;
    overflow : auto;
}

:required {
    border-color: red;
}
.error_message{
    color: red;
}
.personnage_competences{
    width: 100vw;
    overflow: hidden;
}
.personnage_competences > div{
    border: 1px solid black;
    border-radius: 50%;
    behavior: url(PIE.htc); 
    width: 30vw;
    height: 30vw;
    float: left;
    position: relative;
    background: #ccc;
    border: 3px solid #000;
    align-items: center;
    margin: .5vw;
}
.personnage_competences button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: absolute;
    top: 50%;
    left:10vw;
    transform: translateY(-50%);
    /*-ms-transform: translateY(-50%);
    transform: translateX(25%);*/
}
.grid-form {
    display: grid;
    grid-template-columns: [first] 1fr [control] 1fr 1fr 2fr 1fr [end];  
    row-gap: .5em;
    column-gap: .5em;    
}

.grid-form > nav, .grid-form > small {
    grid-column: first / end;
    grid-row: auto;    

}

.grid-form > label {
    grid-column: first;
    grid-row: auto;    
}

.grid-form  > input,
.grid-form  > span,
.grid-form  > textarea {
    grid-column: control /end;
    grid-row: auto;    
}


.grid-form  span {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.grid-form  span > *{
    margin-right: 0.5em
}

.grid-form  span > input{
    flex-grow: 1;
}

.grid-form > section {
    grid-column: first / end;
    grid-row: auto;    

    display: grid;
    grid-template-columns: subgrid;
    row-gap: .5em;
    column-gap: .5em;    

}

.grid-form > section > .new_row{
    grid-column: first;
    grid-row: auto;    
}

.grid-form > section >h3{
    grid-column: first / end;
    grid-row: auto;    
}
.grid-form > section > .new_row{
    grid-column: first;
    grid-row: auto;    
}